section header {
    border-top: solid 1px var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);
}

main {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 80px;
}

#featured, #weekly {
    grid-column: 1 / -1;
}

#ai {
    grid-column: 1;
}

main > div {
    grid-column: 2;
}

#featured {
    grid-auto-rows: 1fr;
}

#weekly > header > a {
    justify-self: end;
    align-items: center;
    gap: 8px;
}

#weekly > header > a span {
    background-image: url(../assets/icons/ArrowRight.svg);
    width: 16px;
    height: 16px;
}

#weekly > header > a:hover span {
    background-image: url(../assets/icons/ArrowRightHover.svg);
}

#ai > header > a {
    justify-self: end;
    align-items: center;
    gap: 8px;
}

#more > header > a {
    justify-self: end;
    align-items: center;
    gap: 50px;
}

#weekly > div {
    grid-template-columns: repeat(4, 292px);
}

#weekly img {
    height: 160px;
}

#ai img {
    width: 220px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#ai h3 {
    margin-block: 8px 4px;
}

#more img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

#more > div {
    gap: 16px;
}

#featured img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
    );
}

.card figcaption {
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.card figcaption:has(.text-lg) {
    padding: 12px;
}

.card h2 {
    margin-top: 8px;
}