section header{
    border-top: solid 1px var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span)
    
    
    
}

#featured {
    grid-auto-rows: 1fr;
}

#weekly > header > a{
    justify-self: end;
    align-items: center;
    gap: 8px;

    span {
        background-image: url(../assets/icons/ArrowRight.svg);
        width: 16px;
        height: 16px;
                
    }

    &:hover span {
        background-image: url(../assets/icons/ArrowRightHover.svg);
    }


}

#ai > header > a{
    justify-self: end;
    align-items: center;
    gap: 8px;
}


#weekly > div {
    
    grid-template-columns: repeat(4, 292px);


}

#wekly img{
    height: 160px;
}


#featured img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card{
        border-radius: 4px;
        overflow: hidden;
        position: relative;

        &::before{
            content:"";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%
            )}
        figcaption {
            position: absolute;
            bottom: 0;

            padding: 24px;

            &:has(.text-lg){
                padding: 12px;
            }
        }

            h2 {
                margin-top: 8px;

            }
    }    

        