#featured {
    grid-auto-rows: 1fr;
}

#featured img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

    .card{
        border-radius: 4px;
        overflow: hidden;
        position: relative;

        &::before{
            content:"";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%
            )}
        figcaption {
            position: absolute;
            bottom: 0;

            padding: 16px;
        }

            h2 {
                margin-top: 8px;

            }
        }    

        